@require './palette.styl';
@require './fonts.styl';

html body
  font-family: "Metropolis", "Arial", sans-serif;

.page .page-edit,
.page .page-nav,
.page .theme-default-content:not(.custom)
  max-width: 100%;

.page .page-edit .last-updated
  float: unset;

// More Examples:
// * https://github.com/vuejs/vuepress/blob/master/packages/docs/docs/.vuepress/styles/index.styl
// * https://github.com/vuejs/vuepress/tree/master/packages/%40vuepress/theme-default/styles