$accentColor = #6180c3;
$textColor = #000000;
// $borderColor = #E53935;
$codeBgColor = #0f192a;

// https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html
// https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html#custom-color
$nprogressColor = #6180c3;

// https://vuepress.vuejs.org/plugin/official/plugin-search.html
// https://vuepress.vuejs.org/plugin/official/plugin-search.html#tweak-the-default-colors
$arrowBgColor = #6180c3;

// More examples:
// * https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
